%body
  %section.event_part.section_padding{:style => "background-image: url('#{image_path 'event_bg.png'}')"}
    .container
      .row
        .col-lg-12
          .event_slider.owl-carousel
            .single_event_slider
              .row.justify-content-end
                .col-lg-6.col-md-6
                  .event_slider_content
                    %h5 Upcoming Event
                    %h2 Maldeve - Asia
                    %p
                      Waters make fish every without firmament saw had. Morning air subdue. Our. Air very one. Whales grass is fish whales winged.
                    %p
                      date:
                      %span 12 Aug 2019
                    %p
                      Cost:
                      %span Start from $820
                    %p
                      Organizer:
                      %span Martine Agency
                    .rating
                      %span Rating:
                      .place_review
                        %a{:href => "#"}
                          %i.fas.fa-star
                        %a{:href => "#"}
                          %i.fas.fa-star
                        %a{:href => "#"}
                          %i.fas.fa-star
                        %a{:href => "#"}
                          %i.fas.fa-star
                        %a{:href => "#"}
                          %i.fas.fa-star
                    %a.btn_1{:href => "#"} Plan Details
            .single_event_slider
              .row.justify-content-end
                .ol-lg-6.col-md-6
                  .event_slider_content
                    %h5 Upcoming Event
                    %h2 Maldeve - Asia
                    %p
                      Waters make fish every without firmament saw had. Morning air subdue. Our. Air very one. Whales grass is fish whales winged.
                    %p
                      date:
                      %span 12 Aug 2019
                    %p
                      Cost:
                      %span Start from $820
                    %p
                      Organizer:
                      %span Martine Agency
                    .rating
                      %span Rating:
                      .place_review
                        %a{:href => "#"}
                          %i.fas.fa-star
                        %a{:href => "#"}
                          %i.fas.fa-star
                        %a{:href => "#"}
                          %i.fas.fa-star
                        %a{:href => "#"}
                          %i.fas.fa-star
                        %a{:href => "#"}
                          %i.fas.fa-star
                    %a.btn_1{:href => "#"} Plan Details
            .single_event_slider
              .row.justify-content-end
                .ol-lg-6.col-md-6
                  .event_slider_content
                    %h5 Upcoming Event
                    %h2 Maldeve - Asia
                    %p
                      Waters make fish every without firmament saw had. Morning air subdue. Our. Air very one. Whales grass is fish whales winged.
                    %p
                      date:
                      %span 12 Aug 2019
                    %p
                      Cost:
                      %span Start from $820
                    %p
                      Organizer:
                      %span Martine Agency
                    .rating
                      %span Rating:
                      .place_review
                        %a{:href => "#"}
                          %i.fas.fa-star
                        %a{:href => "#"}
                          %i.fas.fa-star
                        %a{:href => "#"}
                          %i.fas.fa-star
                        %a{:href => "#"}
                          %i.fas.fa-star
                        %a{:href => "#"}
                          %i.fas.fa-star
                    %a.btn_1{:href => "#"} Plan Details
  %section.tour_details_content.section_padding
    .container
      .row.justify-content-center
        .col-lg-6
          .content_iner
            %p Waters make fish every without firmament saw had. Morning air subdue. Our Air very one. Whales grass is fish whales winged night yielding land creeping that seed appear were bearing.
            %p
              Waters make fish every without firmament saw had. Morning air subdue. Our Air very one. Whales grass is fish whales winged night yielding land creeping that seed appear were bearing.
              Their
            %p Waters make fish every without firmament saw had. Morning air subdue. Our Air very one. Whales grass is fish whales winged night yielding land creeping that seed appear were bearing.
            .tour_details_content_btn
              %a.btn_1{:href => "#"} Book Ticket
  :javascript
    (function ($) {
      "use strict";

      var review = $('.client_review_slider');
      if (review.length) {
        review.owlCarousel({
          items: 3,
          loop: true,
          dots: false,
          autoplay: true,
          margin: 40,
          autoplayHoverPause: true,
          autoplayTimeout: 5000,
          nav: true,
          navText: [
            '<i class="ti-angle-left"></i>',
            '<i class="ti-angle-right"></i>'
          ],
          responsive: {
            0: {
              items: 1,
              nav: false
            },
            576: {
              items: 2,
              nav: false
            },
            768: {
              items: 2,
              nav: false

            },
            991: {
              items: 3,
              nav: true
            }
          }
        });
      }
      var event = $('.event_slider');
      if (event.length) {
        event.owlCarousel({
          items: 1,
          loop: true,
          dots: false,
          autoplay: true,
          margin: 40,
          autoplayHoverPause: true,
          autoplayTimeout: 5000,
          nav: true,
          navText: [
            '<i class="ti-angle-left"></i>',
            '<i class="ti-angle-right"></i>'
          ],
          responsive: {
            0: {
              nav: false
            },
            600: {
              nav: false
            },
            991: {
              nav: true
            }
          }
        });
      }

      var nc_select = $('.nc_select');
      if(nc_select.length){
        nc_select.niceSelect();
      }

      $('#datepicker_1').datepicker();
      $('#datepicker_2').datepicker();
      $('#datepicker_3').datepicker();
      $('#datepicker_4').datepicker();
      $('#datepicker_5').datepicker();
      $('#datepicker_6').datepicker();

      $('.gallery_img').magnificPopup({
        type: 'image',
        gallery:{
          enabled:true
        }
      });

      $('.popup-youtube, .popup-vimeo').magnificPopup({
        type: 'iframe',
        mainClass: 'mfp-fade',
        removalDelay: 160,
        preloader: false,
        fixedContentPos: false
      });

      $(window).scroll(function () {
        var window_top = $(window).scrollTop() + 1;
        if (window_top > 50) {
          $('.main_menu_iner').addClass('menu_fixed animated fadeInDown');
        } else {
          $('.main_menu_iner').removeClass('menu_fixed animated fadeInDown');
        }
      });


    function mailChimp() {
      $('#mc_embed_signup').find('form').ajaxChimp();
    }
    mailChimp();


    }(jQuery));
