%body
  %section.hero-wrap.hero-wrap-2{"data-stellar-background-ratio" => "0.5", :style => "background-image: url('#{image_path 'bg_1.jpg'}');"}
    .overlay
    .container
      .row.no-gutters.slider-text.align-items-center.justify-content-center
        .col-md-9.ftco-animate.text-center
          %h1.mb-2.bread Pricing
          %p.breadcrumbs
            %span.mr-2
              %a{:href => root_path}
                Home
                %i.ion-ios-arrow-forward
            %span
              Pricing
              %i.ion-ios-arrow-forward
  %section.ftco-section.ftco-departments.bg-light
    .container
      .row.departments.p-5.mb-5.bg-white
        .col-lg-4.order-lg-last.d-flex.align-items-stretch
          .img.d-flex.align-self-stretch{:style => "background-image: url('#{image_path 'dept-3.jpg'}');"}
        .col-md-8
          %h2 Dental Deparments
          %p On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word.
          .row.mt-5.pt-2
            .col-lg-6
              .services-2.d-flex
                .icon.mt-2.mr-3.d-flex.justify-content-center.align-items-center
                  %span.flaticon-first-aid-kit
                .text
                  %h3 Primary Care
                  %p Far far away, behind the word mountains, far from the countries Vokalia.
            .col-lg-6
              .services-2.d-flex
                .icon.mt-2.mr-3.d-flex.justify-content-center.align-items-center
                  %span.flaticon-dropper
                .text
                  %h3 Lab Test
                  %p Far far away, behind the word mountains, far from the countries Vokalia.
            .col-lg-6
              .services-2.d-flex
                .icon.mt-2.mr-3.d-flex.justify-content-center.align-items-center
                  %span.flaticon-experiment-results
                .text
                  %h3 Symptom Check
                  %p Far far away, behind the word mountains, far from the countries Vokalia.
            .col-lg-6
              .services-2.d-flex
                .icon.mt-2.mr-3.d-flex.justify-content-center.align-items-center
                  %span.flaticon-heart-rate
                .text
                  %h3 Heart Rate
                  %p Far far away, behind the word mountains, far from the countries Vokalia.
      .row.justify-content-center.my-5.pb-2
        .col-md-8.text-center.heading-section.ftco-animate
          %span.subheading Pricing
          %h2.mb-4 Our Pricing
          %p Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country
      .row
        .col-lg-3.col-md-6.col-sm-12.ftco-animate
          .pricing-entry.pb-5.text-center
            %div
              %h3.mb-4 Basic
              %p
                %span.price $24.50
                %span.per / session
            %ul
              %li Diagnostic Services
              %li Professional Consultation
              %li Tooth Implants
              %li Surgical Extractions
              %li Teeth Whitening
            %p.button.text-center
              %a.btn.btn-primary.px-4.py-3{:href => "#"} Get Offer
        .col-lg-3.col-md-6.col-sm-12.ftco-animate
          .pricing-entry.pb-5.text-center
            %div
              %h3.mb-4 Standard
              %p
                %span.price $34.50
                %span.per / session
            %ul
              %li Diagnostic Services
              %li Professional Consultation
              %li Tooth Implants
              %li Surgical Extractions
              %li Teeth Whitening
            %p.button.text-center
              %a.btn.btn-primary.px-4.py-3{:href => "#"} Get Offer
        .col-lg-3.col-md-6.col-sm-12.ftco-animate
          .pricing-entry.active.pb-5.text-center
            %div
              %h3.mb-4 Premium
              %p
                %span.price $54.50
                %span.per / session
            %ul
              %li Diagnostic Services
              %li Professional Consultation
              %li Tooth Implants
              %li Surgical Extractions
              %li Teeth Whitening
            %p.button.text-center
              %a.btn.btn-primary.px-4.py-3{:href => "#"} Get Offer
        .col-lg-3.col-md-6.col-sm-12.ftco-animate
          .pricing-entry.pb-5.text-center
            %div
              %h3.mb-4 Platinum
              %p
                %span.price $89.50
                %span.per / session
            %ul
              %li Diagnostic Services
              %li Professional Consultation
              %li Tooth Implants
              %li Surgical Extractions
              %li Teeth Whitening
            %p.button.text-center
              %a.btn.btn-primary.px-4.py-3{:href => "#"} Get Offer
