%footer#page-footer
  .inner
    %aside#footer-main
      .container
        .row
          .col-lg-3.col-md-6.col-sm-12
            %article
              %h3 About Us
              %p
                Vel fermentum ipsum. Suspendisse quis molestie odio. Interdum et malesuada fames ac ante ipsum
                primis in faucibus. Quisque aliquet a metus in aliquet. Praesent ut turpis posuere, commodo odio
                id, ornare tortor
              %hr/
              %a.link-arrow{:href => "#"} Read More
          .col-lg-3.col-md-6.col-sm-12
            %article
              %h3 Recent Properties
              .property.small
                %a{:href => "#"}
                  .property-image
                    = image_tag("property-06 (1).jpg")
                .info
                  %a{:href => "#"}
                    %h4 2186 Rinehart Road
                  %figure Doral, FL 33178
                  .tag.price $ 72,000
              .property.small
                %a{:href => "#"}
                  .property-image
                    = image_tag("property-06 (1).jpg")
                .info
                  %a{:href => "#"}
                    %h4 2479 Murphy Court
                  %figure Minneapolis, MN 55402
                  .tag.price $ 36,000
          .col-lg-3.col-md-6.col-sm-12
            %article
              %h3 Contact
              %address
                %strong Your Company
                %br/
                202-204 Panvel Point, Nr. Sudama Chowk
                %br/
                Mota Varachha, Surat, Gujarat, India
              +91 70166 76005
              %br/
              %a{:href => "#"} contact@softices.com
          .col-lg-3.col-md-6.col-sm-12
            %article
              %h3 Useful Links
              %ul.list-unstyled.list-links
                %li
                  %a{:href => "#"} All Properties
                %li
                  %a{:href => "#"} Privacy Policy
                %li
                  %a{:href => "#"} Login and Register Account
                %li
                  %a{:href => "#"} FAQ
                %li
                  %a{:href => "#"} Terms and Conditions
    %aside#footer-thumbnails.footer-thumbnails
    %aside#footer-copyright
      .container
        %span Copyright © 2020. All Rights Reserved.
