%section#block-footer
  .container
    .row
      .col-lg-4.col-md-6.col-sm-6.col-xs-12.col-ms-6
        %h4 About us
        %p Nullam orci dui, dictum et magna sollicitudin, tempor blandit erat. Maecenas suscipit tellus sit amet augue placerat fringilla a id lacus. Fusce tincidunt in leo lacinia condimentum.
        .social-small.social-yellow
          %a.fa.fa-twitter{:href => "https://twitter.com/Softices"}
          %a.fa.fa-facebook{:href => "https://www.facebook.com/softices/?ref=aymt_homepage_panel&eid=ARAm18ULAHBNqv2_Az_4sos7SWP3mjVSiSx1_B0Wign4XH4MZ2g-GjOu2oJVWaqajG1kXXOJk0XG7OIa"}
          %a.fa.fa-instagram{:href => "https://www.instagram.com/softices_consultancy/"}
          %a.fa.fa-pinterest{:href => "https://in.pinterest.com/SofticesConsultancy/"}
      .col-lg-5.col-md-5.hidden-md.hidden-sm.hidden-xs.hidden-ms
        %h4 Explore
        .row
          .col-md-5
            %ul.nav.navbar-nav
              %li.active
                %a{:href => "#"} Get Taxi
              %li
                %a{:href => "#"} Services
              %li
                %a{:href => "#"} Tariffs
              %li
                %a{:href => "#"} Application
          .col-md-5
            %ul.nav.navbar-nav
              %li
                %a{:href => "#"} Become a driver
              %li
                %a{:href => "#"} Testimonials
              %li
                %a{:href => "#"} Contacts
              %li
                %a{:href => "#"} Pages
      .col-lg-3.col-md-6.col-sm-6.col-ms-6
        %h4 Contact us
        %p
          %span.yellow Address:
          202-204 Panvel Point, Nr. Sudama Chowk, Mota Varachha, Surat, Gujarat, India
        %ul.address
          %li
            %span.fa.fa-phone>
            (+91) 70166 76005
          %li
            %span.fa.fa-envelope
            %a{:href => "#"} contact@softices.com
          %li
            %span.fa.fa-skype>
            gettaxipark
%footer
  .container
    %a{:href => "https://softices.com/"} Like-theme
    2020 © All Rights Reserved
    %a{:href => "#"} Terms of use
    %a.go-top.hidden-xs.hidden-ms{:href => "#"}
