%body
  %footer.ftco-footer.ftco-bg-dark.ftco-section
    .container
      .row.mb-5
        .col-lg.col-md-6.col-sm-12
          .ftco-footer-widget.mb-5
            %h2.ftco-heading-2.logo
              Dr.
              %span care
            %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
        .col-lg.col-md-6.col-sm-12
          .ftco-footer-widget.mb-5.ml-md-4
            %h2.ftco-heading-2 Links
            %ul.list-unstyled
              %li
                %a{:href => "#"}
                  %span.ion-ios-arrow-round-forward.mr-2>
                  Home
              %li
                %a{:href => "#"}
                  %span.ion-ios-arrow-round-forward.mr-2>
                  About
              %li
                %a{:href => "#"}
                  %span.ion-ios-arrow-round-forward.mr-2>
                  Services
              %li
                %a{:href => "#"}
                  %span.ion-ios-arrow-round-forward.mr-2>
                  Deparments
              %li
                %a{:href => "#"}
                  %span.ion-ios-arrow-round-forward.mr-2>
                  Contact
        .col-lg.col-md-6.col-sm-12
          .ftco-footer-widget.mb-5
            %h2.ftco-heading-2 Recent Blog
            .block-21.mb-4.d-flex
              %a.blog-img.mr-4{:style => "background-image: url('#{image_path 'image_1.jpg'}');"}
              .text
                %h3.heading
                  %a{:href => "#"} Even the all-powerful Pointing has no control about
                .meta
                  %div
                    %a{:href => "#"}
                      %span.icon-calendar
                      Dec 25, 2018
                  %div
                    %a{:href => "#"}
                      %span.icon-person
                      Admin
                  %div
                    %a{:href => "#"}
                      %span.icon-chat
                      19
            .block-21.mb-5.d-flex
              %a.blog-img.mr-4{:style => "background-image: url('#{image_path 'image_2.jpg'}');"}
              .text
                %h3.heading
                  %a{:href => "#"} Even the all-powerful Pointing has no control about
                .meta
                  %div
                    %a{:href => "#"}
                      %span.icon-calendar
                      Dec 25, 2018
                  %div
                    %a{:href => "#"}
                      %span.icon-person
                      Admin
                  %div
                    %a{:href => "#"}
                      %span.icon-chat
                      19
        .col-lg.col-md-6.col-sm-12
          .ftco-footer-widget.mb-5
            %h2.ftco-heading-2 Opening Hours
            %h3.open-hours.pl-4
              %span.ion-ios-time.mr-3>
              We are open 24/7
          .ftco-footer-widget.mb-5
            %h2.ftco-heading-2 Subscribe Us!
            %form.subscribe-form{:action => "#"}
              .form-group
                %input.form-control.mb-2.text-center{:placeholder => "Enter email address", :type => "text"}/
                %input.form-control.submit.px-3{:type => "submit", :value => "Subscribe"}/
      .row
        .col-md-12.text-center
          %p
            Copyright ©
            :javascript
              document.write(new Date().getFullYear());
            All rights reserved | This template is made with
            %i.icon-heart{"aria-hidden" => "true"}
            by
            %a{:href => "https://Softices.com", :target => "_blank"} Softices Consultancy Pvt. ltd.
