%footer.ftco-footer.ftco-bg-dark.ftco-section
  .container
    .row.mb-5
      .col-md
        .ftco-footer-widget.mb-4
          %h2.ftco-heading-2 Wooden
          %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
          %ul.ftco-footer-social.list-unstyled.float-md-left.float-lft.mt-3
            %li.ftco-animate
              %a{:href => "https://twitter.com/Softices"}
                %span.icon-twitter
            %li.ftco-animate
              %a{:href => "https://www.facebook.com/softices/?ref=aymt_homepage_panel&eid=ARAm18ULAHBNqv2_Az_4sos7SWP3mjVSiSx1_B0Wign4XH4MZ2g-GjOu2oJVWaqajG1kXXOJk0XG7OIa"}
                %span.icon-facebook
            %li.ftco-animate
              %a{:href => "https://www.instagram.com/softices_consultancy/"}
                %span.icon-instagram
      .col-md
        .ftco-footer-widget.mb-4.ml-md-4
          %h2.ftco-heading-2 Links
          %ul.list-unstyled
            %li
              %a{:href => "#"} Home
            %li
              %a{:href => "#"} About
            %li
              %a{:href => "#"} Services
            %li
              %a{:href => "#"} Projects
            %li
              %a{:href => "#"} Contact
      .col-md
        .ftco-footer-widget.mb-4
          %h2.ftco-heading-2 Services
          %ul.list-unstyled
            %li
              %a{:href => "#"} Architectural Design
            %li
              %a{:href => "#"} Interior Design
            %li
              %a{:href => "#"} Exterior Design
            %li
              %a{:href => "#"} Lighting Design
            %li
              %a{:href => "#"} AutoCAD Service
      .col-md
        .ftco-footer-widget.mb-4
          %h2.ftco-heading-2 Have a Questions?
          .block-23.mb-3
            %ul
              %li
                %span.icon.icon-map-marker
                %span.text 202-204 Panvel Point, Nr. Sudama Chowk, Mota Varachha, Surat, Gujarat, India
              %li
                %a{:href => "#"}
                  %span.icon.icon-phone
                  %span.text (+91) 70166 76005
              %li
                %a{:href => "#"}
                  %span.icon.icon-envelope
                  %span.text contact@softices.com
    .row
      .col-md-12.text-center
        %p
          / Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
          Copyright ©
          :javascript
            document.write(new Date().getFullYear());
          All rights reserved
          / Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
/ loader
