%section.home-slider.js-fullheight.owl-carousel
  .slider-item.js-fullheight{:style => "background-image:url('#{image_path 'bg_1.jpg'}')"}
    .overlay
    .container
      .row.slider-text.justify-content-center.align-items-center
        .col-md-7.col-sm-12.text-center.ftco-animate
          %h1.mb-3.mt-5.bread About
          %p.breadcrumbs
            %span.mr-2
              %a{:href => root_path} Home
            %span services
%section.ftco-section.ftc-no-pb
  .container
    .row.no-gutters.justify-content-center
      .col-md-10
        .row.no-gutters
          .col-md-5.p-md-5.img.img-2.order-md-last{:style => "background-image: url('#{image_path 'work-16.jpg'}')"}
          .col-md-7.wrap-about.pb-md-5.ftco-animate
            .heading-section.mb-md-5.pl-md-5.heading-section-with-line
              .pr-md-5.mr-md-5
                %span.subheading Services
                %h2.mb-4 We Make Perfection
            .pr-md-5.mr-md-5
              %p On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country. But nothing the copy said could convince her and so it didn’t take long until a few insidious Copy Writers ambushed her, made her drunk with Longe and Parole and dragged her into their agency, where they abused her for their.
              %p When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.
              %p
                %a.btn-custom{:href => "#"}
                  Learn More
                  %span.ion-ios-arrow-forward
%section.ftco-section.ftc-no-pb
  .container
    .row.no-gutters.justify-content-center
      .col-md-10
        .row.no-gutters
          .col-md-5.p-md-5.img.img-2{:style => "background-image: url('#{image_path 'work-19.jpg'}')"}
          .col-md-7.wrap-about.pb-md-5.ftco-animate
            .heading-section.mb-5.pl-md-5.heading-section-with-line
              .pl-md-5.ml-md-5
                %span.subheading Services
                %h2.mb-4 We Carefully Planned
            .pl-md-5.ml-md-5.mb-5
              %p On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country. But nothing the copy said could convince her and so it didn’t take long until a few insidious Copy Writers ambushed her, made her drunk with Longe and Parole and dragged her into their agency, where they abused her for their.
              %p When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.
              %p
                %a.btn-custom{:href => "#"}
                  Learn More
                  %span.ion-ios-arrow-forward
%section.ftco-section.ftc-no-pb
  .container
    .row.no-gutters.justify-content-center
      .col-md-10
        .row.no-gutters
          .col-md-5.p-md-5.img.img-2.order-md-last{:style => "background-image: url('#{image_path 'work-9.jpg'}')"}
          .col-md-7.wrap-about.pb-md-5.ftco-animate
            .heading-section.mb-md-5.pl-md-5.heading-section-with-line
              .pr-md-5.mr-md-5
                %span.subheading Services
                %h2.mb-4 We Smartly Execute
            .pr-md-5.mr-md-5
              %p On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country. But nothing the copy said could convince her and so it didn’t take long until a few insidious Copy Writers ambushed her, made her drunk with Longe and Parole and dragged her into their agency, where they abused her for their.
              %p When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.
              %p
                %a.btn-custom{:href => "#"}
                  Learn More
                  %span.ion-ios-arrow-forward
