%body
  %header#main-header-2.main-header.sticky-header
    .container
      .row
        .col-12
          %nav.navbar.navbar-expand-lg.navbar-light.rounded
            %a.navbar-brand.logo.navbar-brand.d-flex.mr-auto{:href => "#"}
              = image_tag("logos/logo-white.png")
            %button.navbar-toggler{"aria-controls" => "navbar", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
              %span.fa.fa-bars
            #navbar.navbar-collapse.collapse.w-100
              %ul.navbar-nav.ml-auto
                %li.nav-item.active
                  = link_to("Home", { action: "index"},{:class=>"nav-link" })
                %li.nav-item
                  %a.nav-link{:href => portfolio_path}
                    portfolio
                %li.nav-item.dropdown
                  %a#navbarDropdownMenuLink2.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#"}
                    Pages
                  %ul.dropdown-menu{"aria-labelledby" => "navbarDropdownMenuLink"}
                    %li
                      %a.dropdown-item{:href => about_path} About Us
                    %li
                      %a.dropdown-item{:href => login_path} Login
                    %li
                      %a.dropdown-item{:href => register_path} Register
                %li.nav-item.dropdown
                  %a.nav-link{:href => blog_path}
                    Blog
                %li.nav-item
                  %a.nav-link{:href => contactus_path}
                    Contact Us
                %li.nav-item.dropdown.mtbl
                  %a.btn.btn-sm.btn-white-sm-outline.btn-round.signup-link{:href => "login.html"} Login
