%body
  %footer.footer-area
    .container
      .row.justify-content-between
        .col-sm-6.col-md-5
          .single-footer-widget
            %h4 Discover Destination
            %ul
              %li
                %a{:href => "#"} Miami, USA
              %li
                %a{:href => "#"} California, USA
              %li
                %a{:href => "#"} London, UK
              %li
                %a{:href => "#"} Saintmartine, Bangladesh
              %li
                %a{:href => "#"} Mount Everast, India
              %li
                %a{:href => "#"} Sidney, Australia
              %li
                %a{:href => "#"} Miami, USA
              %li
                %a{:href => "#"} California, USA
              %li
                %a{:href => "#"} London, UK
              %li
                %a{:href => "#"} Saintmartine, Bangladesh
              %li
                %a{:href => "#"} Mount Everast, India
              %li
                %a{:href => "#"} Sidney, Australia
        .col-sm-6.col-md-4
          .single-footer-widget
            %h4 Subscribe Newsletter
            #mc_embed_signup.form-wrap
              %form.form-inline{:action => "https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&id=92a4423d01", :method => "get", :target => "_blank"}
                %input.form-control{:name => "EMAIL", :onblur => "this.placeholder = 'Your Email Address '", :onfocus => "this.placeholder = ''", :placeholder => "Your Email Address", :required => "", :type => "email"}/
                %button.click-btn.btn.btn-default.text-uppercase
                  %i.far.fa-paper-plane
                %div{:style => "position: absolute; left: -5000px;"}
                  %input{:name => "b_36c4fd991d266f23781ded980_aefe40901a", :tabindex => "-1", :type => "text", :value => ""}/
                .info
            %p Subscribe our newsletter to get update news and offers
        .col-sm-6.col-md-3
          .single-footer-widget.footer_icon
            %h4 Contact Us
            %p
              202-204 Panvel Point, India
              %br/
              +91 70166 76005
            %span contact@softices.com
            .social-icons
              %a{:href => "https://www.facebook.com/softices/?ref=aymt_homepage_panel&eid=ARAm18ULAHBNqv2_Az_4sos7SWP3mjVSiSx1_B0Wign4XH4MZ2g-GjOu2oJVWaqajG1kXXOJk0XG7OIa"}
                %i.ti-facebook
              %a{:href => "https://twitter.com/Softices"}
                %i.ti-twitter-alt
              %a{:href => "https://in.pinterest.com/SofticesConsultancy/"}
                %i.ti-pinterest
              %a{:href => "https://www.instagram.com/softices_consultancy/"}
                %i.ti-instagram
    .container-fluid
      .row.justify-content-center
        .col-lg-12
          .copyright_part_text.text-center
            %p.footer-text.m-0
              All rights reserved | This template is made with
              %i.ti-heart{"aria-hidden" => "true"}
              by
              %a{:href => "https://softices.com", :target => "_blank"} Softices Consultancy Pvt. ltd.
