.ritekhed-copyright
  .container
    .row
      %aside.col-md-6
        %p
          © 2018, All Right Reserved - by
          %a{:href => "index.html"} Softices Consultancy Pvt. ltd.
      %aside.col-md-6
        %ul.ritekhed-copyright-link
          %li
            %a{:href => "#"} Terms And Condition
          %li
            %a{:href => "#"} Privacy Policy
