%footer.text-center.pos-re
  .container
    %a.logo{:href => "#"}
      = image_tag("logo-light.png")
    .social
      %a{:href => "#0"}
        %i.fab.fa-facebook-f
      %a{:href => "#0"}
        %i.fab.fa-twitter
      %a{:href => "#0"}
        %i.fab.fa-linkedin-in
      %a{:href => "#0"}
        %i.fab.fa-behance
      %a{:href => "#0"}
        %i.fab.fa-pinterest-p
    %p © 2020 Softices Consultancy Pvt. Ltd. All Rights Reserved.
  .curve.curve-top.curve-center
