%body
  %nav.navbar.navbar-expand-lg
    .container
      %a.logo{:href => "#"}
        = image_tag("logo-light.png")
      %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
          %i.fas.fa-bars
      #navbarSupportedContent.collapse.navbar-collapse
        %ul.navbar-nav.ml-auto
          %li.nav-item
            %a.nav-link.active{"data-scroll-nav" => "0", :href => "#"} Home
          %li.nav-item
            %a.nav-link{"data-scroll-nav" => "1", :href => "#"} Services
          %li.nav-item
            %a.nav-link{"data-scroll-nav" => "2", :href => "#"} Portfolio
          %li.nav-item
            %a.nav-link{"data-scroll-nav" => "3", :href => "#"} Team
          %li.nav-item
            %a.nav-link{"data-scroll-nav" => "4", :href => "#"} Price
          %li.nav-item
            %a.nav-link{"data-scroll-nav" => "5", :href => "#"} Blog
          %li.nav-item
            %a.nav-link{"data-scroll-nav" => "6", :href => "#"} Contact
  %header.header.valign.bg-img{"data-overlay-dark" => "7", "data-scroll-index" => "0", "data-stellar-background-ratio" => "0.5", :style => "background-image: url('#{image_path 'bg4.jpg'}')"}
    .container
      .text-center.caption.mt-30
        %h4 We Are
        %h1 Big Digital Agency
        .row
          .offset-md-1.col-md-10.offset-lg-2.col-lg-8
            %p We are a passionate digital design agency that specializes in beautiful and easy-to-use digital design &amp; web development services.
        %a.butn.butn-light.mt-30{:href => "#0"}
          %span Get Started
