%footer.site-footer
  .site-footer__upper
    .container
      .row
        .col-lg-3
          .footer-widget.footer-widget__about
            = image_tag("global/logo-dark.png", :width => "119")
            %p.footer-widget__contact
              %a{:href => "tel:70166-76005"} 70166 76005
            %p.footer-widget__contact
              %a{:href => "mailto:contact@softices.com"} contact@softices.com
            %p.footer-widget__contact
              202-204 Panvel Point,
              %br>/
              Surat, Gujarat, India
        .col-lg-6.d-flex.justify-content-between.footer-widget__links-wrap
          .footer-widget
            %h3.footer-widget__title Explore
            %ul.footer-widget__links.list-unstyled
              %li
                %a{:href => "#"} About
              %li
                %a{:href => "#"} Our Team
              %li
                %a{:href => "#"} Features
              %li
                %a{:href => "#"} Blog
              %li
                %a{:href => "#"} How It Works
          .footer-widget
            %h3.footer-widget__title Services
            %ul.footer-widget__links.list-unstyled
              %li
                %a{:href => "#"} Speed Optimization
              %li
                %a{:href => "#"} Marketing Analysis
              %li
                %a{:href => "#"} SEO and Backlinks
              %li
                %a{:href => "#"} Content Marketing
          .footer-widget
            %h3.footer-widget__title Links
            %ul.footer-widget__links.list-unstyled
              %li
                %a{:href => "#"} Help
              %li
                %a{:href => "#"} Support
              %li
                %a{:href => "#"} Clients
              %li
                %a{:href => "#"} Contact
        .col-lg-3
          .footer-widget
            .site-footer__social
              %a.fa.fa-facebook-square{:href => "https://www.facebook.com/softices/?ref=aymt_homepage_panel&eid=ARAm18ULAHBNqv2_Az_4sos7SWP3mjVSiSx1_B0Wign4XH4MZ2g-GjOu2oJVWaqajG1kXXOJk0XG7OIa"}
              %a.fa.fa-twitter{:href => "https://twitter.com/Softices"}
              %a.fa.fa-instagram{:href => "https://www.instagram.com/softices_consultancy/"}
              %a.fa.fa-pinterest-p{:href => "https://in.pinterest.com/SofticesConsultancy/"}
  .site-footer__bottom
    .container
      .inner-container.text-center
        %p.site-footer__copy
          © copyright 2020 by
          %a{:href => "#"} Layerdrops.com
