
      <!-- Page Content Start -->
      <div class="page-content">
        <!-- About Us Area Start -->
       <section class="service-area service-style-two pt-100 pb-70 indicator-style">
          <div class="container">
            <div class="row">
              <!-- Single Item -->
              <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="service-single text-center">
                  <div class="servce-icon">
                    <i class="icofont icofont-ui-video-play"></i>
                  </div>
                  <div class="service-details">
                    <h4><a href="#">HIRE STUDIO</a></h4>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority </p>
                  </div>
                </div>
              </div>
              <!-- Single Item -->
              <!-- Single Item -->
              <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="service-single text-center">
                  <div class="servce-icon">
                    <i class="icofont icofont-video-cam"></i>
                  </div>
                  <div class="service-details">
                    <h4><a href="#">FILMING SERVICES</a></h4>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority </p>
                  </div>
                </div>
              </div>
              <!-- Single Item -->
              <!-- Single Item -->
              <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="service-single text-center">
                  <div class="servce-icon">
                    <i class="icofont icofont-movie"></i>
                  </div>
                  <div class="service-details">
                    <h4><a href="#">EQUIPMENT HIRE</a></h4>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority </p>
                  </div>
                </div>
              </div>
              <!-- Single Item -->
              <!-- Single Item -->
              <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="service-single text-center">
                  <div class="servce-icon">
                    <i class="icofont icofont-record"></i>
                  </div>
                  <div class="service-details">
                    <h4><a href="#">RECORDING</a></h4>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority </p>
                  </div>
                </div>
              </div>
              <!-- Single Item -->
              <!-- Single Item -->
              <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="service-single text-center">
                  <div class="servce-icon">
                    <i class="icofont icofont-film"></i>
                  </div>
                  <div class="service-details">
                    <h4><a href="#">INDOOR SERVICE</a></h4>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority </p>
                  </div>
                </div>
              </div>
              <!-- Single Item -->
              <!-- Single Item -->
              <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="service-single text-center">
                  <div class="servce-icon">
                    <i class="icofont icofont-multimedia"></i>
                  </div>
                  <div class="service-details">
                    <h4><a href="#">PRODUCTION</a></h4>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority </p>
                  </div>
                </div>
              </div>
              <!-- Single Item -->
            </div>
            <!-- Service Single Item Area End -->
          </div>
        </section>
        <!-- About Us End -->
      </div>
      <!-- Page Content End -->
    
